{% extends "base-component" %}

{% set name = "manual-link-list" %}
{% set container_element = 'section' %}
{% set container_aria_label = "Manual Link List" %}


{% block content %}
  {% if title is not empty %}
    <header class="manual-link-list-header-container">
      {% include "fields-section-title" with { title: title } only %}
    </header>
  {% endif %}

<div class="views-container">
  {% for item in items %}
    <div class="views-row">

      {% if item.taxonomy %}
        {% include "fields-text" with { text: item.taxonomy } only %}
      {% endif %}

      {% if item.link.href starts with '/' %}
        <div class="f--field f--link">
          <a href="{{ item.link.href }}">{{ item.title | raw  }}</a>
        </div>
      {% else %}
        <div class="f--field f--link">
          <a class="ext" href="{{ item.link.href }}">
            {{ item.title | raw  }}
          </a>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% endblock %}
