{% extends "base-component" %}

{% set name = "related-events" %}
{% set container_element = 'section' %}
{% set container_aria_label = "Related Content" %}

{% block content %}

  <div class="inner-wrapper">

    {% if title is not empty %}

      {% include "fields-section-title" with { title: title } %}

    {% endif %}

    {% embed "base-field" with { name: "field-components" } %}

      {% block content %}

        {% for card in cards %}

          {% include "components-event-card" with {
            title: card.title,
            link: card.link,
            date: card.date,
            time: card.time,
            location: card.location,
            image: card.image
          } only %}

        {% endfor %}

      {% endblock content %}

    {% endembed %}

  </div>

{% endblock %}
