{% extends "base-component" %}

{% set name = "pager-load-more" %}

{% block content %}

  <ul class="pager__items js-pager__items">
    <li class="pager__item">
      <div class="f--field f--link">
        <a class="link" href="#" rel="next" title="Go to next page">Load More</a>
      </div>
    </li>
  </ul>

{% endblock %}
