{% extends "base-form-item" %}

{% block content %}

{% if label %}
<label for="{{ name|default("email") }}">
  {{ label }}{% if required %} *{% endif %}
</label>
{% endif %}

<input type="week" name="{{ name|default('week') }}" id="{{ name|default('week') }}">

{% endblock %}
