%select-wrap,
.select-wrap {
  position: relative;
  border: rem(1) solid $color-atlantis;
  background-color: $color-white;

  select {
    @extend %font-fira-sans-extra-condensed-regular;
    @include padding(null rem(35) null rem(10));
    @include font-size(16, 26);
    width: 100%;
    height: rem(50);
    border: 0;
    background: transparent;
    background-image: none;
    color: $color-secondary;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }
  }

  svg {
    @include centered('y');
    right: rem(15);
    width: rem(15);
    height: rem(15);
    pointer-events: none;
  }
}
