{% extends "base-form-item" %}

{% block content %}

    {% if label %}
        <label
                for="{{ name|default("text") }}"
        >
            {{ label }}{% if required %} *{% endif %}
        </label>
    {% endif %}


    <input type="datetime-local" name="{{ name|default('datetime-local') }}">

{% endblock %}


