

{% extends "base-form-item" %}

{% block content %}

{% if label %}
<label for="{{ name|default("email") }}">
  {{ label }}{% if required %} *{% endif %}
</label>
{% endif %}

<input type="password" name="{{ name|default('password') }}">

{% endblock %}
