<p>Disabled Select</p>
<div class="select">
  <select disabled>
    <option value="1">Option One</option>
    <option value="2">Option Two</option>
    <option value="3">Option Three</option>
  </select>
  <div class="select-arrow"></div>
</div>

