{% extends "base-component" %}

{% set name = "search-form" %}
{% set id = "header-search-form" %}
{% set container_aria_role = 'dialog' %}

{% block content %}

  <h2 class="visually-hidden" id="dialog-title">Enter a Search Term</h2>

  {% embed "base-form" with { name: "search-form", action: formAction | default("/search") } %}

    {% block content %}

      {# <label class="visually-hidden" for="search">Search for:</label> #}
      <div class="input-wrapper">
{#          {% include "base-input-text" with { name: "search", label: "Search:", maxlength: 50, placeholder: "Search the Site" } %}#}
{#          Please update the base-input-text to acceps the following attributes: #}
        <div class="fi--form-item fi--search">
          <input
            type="text"
            id="search"
            maxlength="50"
            class="form-autocomplete form-text ui-autocomplete-input"
            name="{{ parameterName | default("search") }}"
            autocomplete="off"
            data-drupal-selector="edit-search-2"
            placeholder="Enter Search Term"
            size="50" >
        </div>
      </div>
      {% include "base-input-submit" with { value: "Search" } %}

    {% endblock %}

  {% endembed %}

{% endblock %}
