{% extends "node.html.twig" %}

{% block content %}

  {{ attach_library('usfca/chapter-jump-links') }}

  <div class="content-top">
    <div class="lc--layout-container lc--full">
      <div class="l--layout l--full">
        <div class="lr--layout-region lr--main">
          {% if fields.image %}
            {% include "@pattern_lab/components-hero-landing-page" with {
              image: fields.image.uri ? {
                src: fields.image.uri | image_style('16_9_2400x1350'),
                alt: fields.image.alt,
                render: drupal_image(fields.image.uri, '16_9_full', {alt: fields.image.alt}, responsive=true)
              } : null,
              title: fields.title,
              category: fields.eyebrow ? '<p>' ~ fields.eyebrow ~ '</p>',
            } %}
          {% else %}
            {% include "components-title-no-image" with {
              title: fields.title,
              eyebrow: fields.eyebrow,
            } only %}
          {% endif %}

          {{ content_extra }}

        </div>
      </div>
    </div>
  </div>

  <div class="content-main">
    <div class="lc--layout-container lc--full">
      <div class="l--layout l--full">
        <div class="lr--layout-region lr--main">
          <div class="cc--component-container cc--chapter-content-main ">
            <div class="c--component c--chapter-content-main">
              <aside class="content-sidebar">
                {% include "components-chapter-jump-links" with { chapters: jump_link_data } only %}
              </aside>

              <div class="content-main">
                {{ content.field_components }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if fields.components_footer is not empty %}
    <div class="content-bottom">
      <div class="lc--layout-container lc--full">
        <div class="l--layout l--full">
          <div class="lr--layout-region lr--main">

            {{ content.field_components_footer }}

          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}
