{% extends "node.html.twig" %}

{% block content %}

  <div class="content-top">
    <div class="lc--layout-container lc--full">
      <div class="l--layout l--full">
        <div class="lr--layout-region lr--main">

          {{ content.field_hero }}

        </div>
      </div>
    </div>
  </div>

  <div class="content-main">
    <div class="lc--layout-container lc--full">
      <div class="l--layout l--full">
        <div class="lr--layout-region lr--main">

          {{ content.field_components }}

        </div>
      </div>
    </div>
  </div>

{% endblock content %}
