{% extends "base-layout" %}

{% set layout_name = "full" %}

{% block layout_content %}

  <div class="lr--layout-region lr--main">

    {% block content %}

    {% endblock content %}

  </div>

{% endblock layout_content %}
