{% extends "block.html.twig" %}
{% set component_id = 'footer-social' %}
{% block content %}
  <div class="footer-social-container">
    <h3 class="visually-hidden">{{ 'Follow us'|t }}</h3>
    {{ content }}
  </div>
{% endblock %}
