{% extends "block.html.twig" %}
{% set component_id = 'branding-footer' %}
{% block content %}
  <a href="/law" aria-label="University of San Francisco, School of Law">
    <svg version="1.1" id="footer-logo-art" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 399.6 52.1" enable-background="new 0 0 399.6 52.1" xml:space="preserve">
      <path id="footer-logo-school" fill="#FFFFFF" d="M269.2,33c-1.8,0-3.3-0.4-4.5-1.1l0.3-2.2c1.1,0.7,2.6,1.4,4.2,1.4c1.7,0,2.9-0.9,2.9-2.5
        c0-1.5-0.7-2.1-3.1-3.2c-3-1.4-4.2-2.4-4.2-4.7c0-2.6,2-4.3,4.9-4.3c1.6,0,2.7,0.4,3.7,0.9l-0.4,2.2c-0.9-0.7-2.1-1.2-3.4-1.2
        c-1.8,0-2.7,1-2.7,2.2c0,1.2,0.6,1.8,3.1,2.9c3.1,1.4,4.2,2.5,4.2,4.9C274.3,31.2,272.2,33,269.2,33z M281.5,33
        c-3,0-5.2-2.1-5.2-5.8c0-3.8,2.3-5.8,5.2-5.8c1.6,0,2.8,0.4,3.7,1l-0.3,2c-1-0.8-2.1-1.2-3.4-1.2c-1.8,0-3.1,1.4-3.1,4
        c0,2.7,1.4,4,3.3,4c1.1,0,2.1-0.3,3.3-1.2l0.3,1.9C284.2,32.7,283,33,281.5,33z M294.9,32.8v-7.6c0-1.1-0.5-1.9-1.7-1.9
        c-1.1,0-2.2,0.7-3.2,1.8v7.7h-2.1V16.2l2.1-0.3v7.2c0.9-0.8,2.2-1.7,3.8-1.7c2.1,0,3.2,1.3,3.2,3.3v8.1H294.9z M304.6,33
        c-3,0-5.1-2.1-5.1-5.8c0-3.7,2.2-5.8,5.1-5.8c3,0,5.2,2.2,5.2,5.8C309.8,30.9,307.6,33,304.6,33z M304.6,23.1c-2,0-3,1.7-3,4.1
        c0,2.3,1.1,4.1,3,4.1c2.1,0,3.1-1.7,3.1-4.1C307.7,24.9,306.6,23.1,304.6,23.1z M317,33c-3,0-5.1-2.1-5.1-5.8c0-3.7,2.2-5.8,5.1-5.8
        c3,0,5.2,2.2,5.2,5.8C322.2,30.9,320,33,317,33z M317,23.1c-2,0-3,1.7-3,4.1c0,2.3,1.1,4.1,3,4.1c2.1,0,3.1-1.7,3.1-4.1
        C320,24.9,319,23.1,317,23.1z M325,32.8V16.2l2.1-0.3v16.9H325z M340.2,33c-3,0-5.1-2.1-5.1-5.8c0-3.7,2.2-5.8,5.1-5.8
        c3,0,5.2,2.2,5.2,5.8C345.4,30.9,343.2,33,340.2,33z M340.2,23.1c-2,0-3,1.7-3,4.1c0,2.3,1.1,4.1,3,4.1c2.1,0,3.1-1.7,3.1-4.1
        C343.3,24.9,342.3,23.1,340.2,23.1z M352.3,17.9c-1,0-1.5,0.4-1.5,1.4v2.2h2.2l0.3,1.8h-2.5v9.4h-2v-9.4H347v-1.8h1.7v-2.5
        c0-2.2,1.5-3.1,3.5-3.1c0.4,0,0.7,0,0.9,0l0.3,1.9C353.1,18,352.7,17.9,352.3,17.9z M362.9,32.8V16.6h2.2v14.1h5.8l0.3,2H362.9z
        M380.3,32.8l-0.2-1.5c-0.9,0.9-2.1,1.7-3.9,1.7c-2,0-3.3-1.2-3.3-3.1c0-2.8,2.4-3.9,7-4.4v-0.5c0-1.4-0.8-1.9-2.1-1.9
        c-1.4,0-2.6,0.4-3.9,1l-0.3-1.8c1.3-0.5,2.6-0.9,4.3-0.9c2.7,0,4,1.1,4,3.6v7.8H380.3z M379.9,27.1c-4.1,0.4-5,1.5-5,2.7
        c0,0.9,0.6,1.5,1.7,1.5c1.2,0,2.4-0.6,3.3-1.6V27.1z M396,32.8h-1.6l-2.6-8.5l-2.6,8.5h-1.6l-3.6-11l2-0.3l2.5,8.3l2.5-8.1h1.8
        l2.5,8.1l2.4-8.1h2L396,32.8z"/>
      <rect id="footer-logo-line" x="250.2" y="5.1" fill="#FFFFFF" width="0.6" height="42"/>
      <path id="footer-logo-icon" fill="#FDBB30" d="M52.1,26l-9.2,9.2c0,0-0.9,0.7-1.7-0.2c-0.9-0.9-0.2-1.7-0.2-1.7l7.3-7.3L41,18.8
        c0,0-0.7-0.9,0.2-1.7c0.9-0.9,1.7-0.2,1.7-0.2L52.1,26z M3.8,26l7.3-7.3c0,0,0.7-0.8-0.2-1.7c-0.9-0.9-1.7-0.2-1.7-0.2L0,26l0,0l0,0
        l9.2,9.2c0,0,0.8,0.7,1.7-0.2c0.9-0.9,0.2-1.7,0.2-1.7L3.8,26z M35,41.2c-0.9-0.9-1.7-0.2-1.7-0.2L26,48.3L18.8,41
        c0,0-0.8-0.7-1.7,0.2c-0.9,0.9-0.2,1.7-0.2,1.7l9.2,9.2l0,0l0,0l9.2-9.2C35.2,42.9,35.9,42.1,35,41.2z M35.2,9.2L26,0l0,0l0,0
        l-9.2,9.2c0,0-0.7,0.8,0.2,1.7c0.9,0.9,1.7,0.2,1.7,0.2L26,3.8l7.3,7.3c0,0,0.8,0.7,1.7-0.2C35.9,10,35.2,9.2,35.2,9.2z M41.5,29.1
        c0.8-0.9,0.6-1.8,0.6-1.8H27.3v14.9c0,0,0.9,0.2,1.8-0.6c0.9-0.9,0.9-1.9,0.9-1.9v-7.8l7.7,7.7c0,0,0.8,0.7,1.7-0.2
        c0.9-0.9,0.2-1.7,0.2-1.7l-7.7-7.7h7.8C39.6,29.9,40.7,30,41.5,29.1z M24.8,27.3H9.9c0,0-0.2,0.9,0.6,1.8c0.9,0.9,1.9,0.9,1.9,0.9
        h7.8l-7.7,7.7c0,0-0.7,0.8,0.2,1.7c0.9,0.9,1.7,0.2,1.7,0.2l7.7-7.7v7.8c0,0-0.1,1,0.9,1.9c0.9,0.8,1.8,0.6,1.8,0.6V27.3z M23,10.5
        c-0.9,0.9-0.9,1.9-0.9,1.9v7.8l-7.7-7.7c0,0-0.8-0.7-1.7,0.2c-0.9,0.9-0.2,1.7-0.2,1.7l7.7,7.7h-7.8c0,0-1-0.1-1.9,0.9
        c-0.8,0.9-0.6,1.8-0.6,1.8h14.9V9.9C24.8,9.9,23.9,9.7,23,10.5z M41.5,23c-0.9-0.9-1.9-0.9-1.9-0.9h-7.8l7.7-7.7
        c0,0,0.7-0.8-0.2-1.7c-0.9-0.9-1.7-0.2-1.7-0.2l-7.7,7.7v-7.8c0,0,0.1-1-0.9-1.9c-0.9-0.8-1.8-0.6-1.8-0.6v14.9h14.9
        C42.2,24.8,42.4,23.9,41.5,23z"/>
      <path id="footer-logo" fill="#FFFFFF" d="M63.3,20.4c-3.7,0-5.9-2.3-5.9-6V5h2.1v9.1c0,2.6,1.2,4.4,3.8,4.4c2.6,0,3.9-1.6,3.9-4.3V5h2.1
        v9.3C69.2,18.1,67,20.4,63.3,20.4z M85.5,20.1L77.2,8.3v11.8h-1.9V5h1.8l8,11.3V5h1.9v15.1H85.5z M93.7,20.1V5h2.1v15.1H93.7z
        M108.5,20.2h-1.8l-5.8-14.9l2.1-0.4l4.7,12.6L112.2,5h2.2L108.5,20.2z M118.9,20.1V5h8.2v1.9H121v4.4h4.7l0.3,1.9h-5v5.1h6.3v1.9
        H118.9z M143.3,19.8l-2.1,0.5l-4.6-6.5H135v6.4H133V5h4.1c3.1,0,5,1.5,5,4.3c0,2.3-1.3,3.6-3.3,4.2L143.3,19.8z M137,6.8h-2V12h1.8
        c2,0,3.3-0.9,3.3-2.6C140.1,7.8,139,6.8,137,6.8z M151.7,20.3c-1.6,0-3.1-0.4-4.2-1l0.3-2.1c1,0.7,2.5,1.3,4,1.3
        c1.6,0,2.7-0.8,2.7-2.3c0-1.4-0.6-2-2.9-3c-2.8-1.3-3.9-2.2-3.9-4.4c0-2.4,1.9-4,4.6-4c1.5,0,2.6,0.4,3.4,0.9l-0.3,2.1
        c-0.8-0.6-2-1.1-3.2-1.1c-1.7,0-2.5,0.9-2.5,2c0,1.2,0.6,1.7,2.9,2.8c2.9,1.3,3.9,2.3,3.9,4.6C156.5,18.6,154.5,20.3,151.7,20.3z
        M162.2,20.1V5h2.1v15.1H162.2z M176.1,6.9v13.2h-2.1V6.9h-4.8V5h11.5l0.3,1.9H176.1z M191.7,14.1v6h-2.1v-6l-5.3-8.8l2.1-0.4
        l4.3,7.4l4.2-7.2h2.3L191.7,14.1z M215.8,20.4c-4.3,0-7-3.2-7-7.8c0-4.7,2.7-7.9,7-7.9c4.3,0,6.9,3.2,6.9,7.8
        C222.8,17.2,220.1,20.4,215.8,20.4z M215.8,6.6c-3,0-4.8,2.3-4.8,6c0,3.6,1.9,6,4.8,6c3,0,4.8-2.3,4.8-6
        C220.7,8.9,218.8,6.6,215.8,6.6z M230.3,6.9v4.6h4.6l0.3,1.9h-4.9v6.7h-2.1V5h7.9v1.9H230.3z M61.2,47.2c-1.6,0-3.1-0.4-4.2-1
        l0.3-2.1c1,0.7,2.5,1.3,4,1.3c1.6,0,2.7-0.8,2.7-2.3c0-1.4-0.6-2-2.9-3c-2.9-1.3-3.9-2.2-3.9-4.4c0-2.4,1.9-4,4.6-4
        c1.5,0,2.6,0.4,3.4,0.9l-0.3,2.1c-0.8-0.6-2-1.1-3.2-1.1c-1.7,0-2.5,0.9-2.5,2c0,1.2,0.6,1.7,2.9,2.8c2.9,1.3,3.9,2.3,3.9,4.6
        C65.9,45.6,64,47.2,61.2,47.2z M81,47.2l-1.8-4.7H73l-1.7,4.5h-2.1l5.9-15.2h2.1L83,46.8L81,47.2z M76.1,34.3l-2.4,6.4h4.8
        L76.1,34.3z M97.4,47.1l-8.3-11.8v11.8h-1.9V31.9h1.8l8,11.3V31.9H99v15.1H97.4z M113.3,33.8v4.6h4.6l0.3,1.9h-4.9v6.7h-2.1V31.9
        h7.9v1.9H113.3z M134.3,46.8l-2.1,0.5l-4.6-6.5H126v6.4H124V31.9h4.1c3.1,0,5,1.5,5,4.3c0,2.3-1.3,3.6-3.3,4.2L134.3,46.8z
        M128,33.8h-2V39h1.8c2,0,3.3-0.9,3.3-2.6C131,34.7,130,33.8,128,33.8z M148.5,47.2l-1.8-4.7h-6.2l-1.7,4.5h-2.1l5.9-15.2h2.1
        l5.8,14.9L148.5,47.2z M143.6,34.3l-2.4,6.4h4.8L143.6,34.3z M164.6,47.1l-8.3-11.8v11.8h-1.9V31.9h1.8l8,11.3V31.9h1.9v15.1H164.6z
        M178,47.4c-4.3,0-7-3.2-7-7.8c0-4.7,2.8-7.9,7-7.9c1.8,0,3.1,0.5,4.3,1.2l-0.3,2.1c-1.1-0.8-2.4-1.5-4-1.5c-3.1,0-4.9,2.3-4.9,6
        c0,3.6,1.8,5.9,4.9,5.9c1.6,0,3-0.6,4.3-1.5l0.3,1.9C181.5,46.7,179.8,47.4,178,47.4z M187.8,47.1V31.9h2.1v15.1H187.8z M199.3,47.2
        c-1.6,0-3.1-0.4-4.2-1l0.3-2.1c1,0.7,2.5,1.3,4,1.3c1.6,0,2.7-0.8,2.7-2.3c0-1.4-0.6-2-2.9-3c-2.9-1.3-3.9-2.2-3.9-4.4
        c0-2.4,1.9-4,4.6-4c1.5,0,2.6,0.4,3.4,0.9l-0.3,2.1c-0.8-0.6-2-1.1-3.2-1.1c-1.7,0-2.5,0.9-2.5,2c0,1.2,0.6,1.7,2.9,2.8
        c2.9,1.3,3.9,2.3,3.9,4.6C204.1,45.6,202.1,47.2,199.3,47.2z M214.7,47.4c-4.3,0-7-3.2-7-7.8c0-4.7,2.8-7.9,7-7.9
        c1.8,0,3.1,0.5,4.3,1.2l-0.3,2.1c-1.1-0.8-2.4-1.5-4-1.5c-3.1,0-4.9,2.3-4.9,6c0,3.6,1.8,5.9,4.9,5.9c1.6,0,3-0.6,4.3-1.5l0.3,1.9
        C218.1,46.7,216.4,47.4,214.7,47.4z M229.1,47.4c-4.3,0-7-3.2-7-7.8c0-4.7,2.7-7.9,7-7.9c4.3,0,7,3.2,7,7.8S233.4,47.4,229.1,47.4z
        M229.1,33.5c-3,0-4.8,2.3-4.8,6c0,3.6,1.9,6,4.8,6c3,0,4.8-2.3,4.8-6C234,35.9,232.1,33.5,229.1,33.5z"/>
    </svg>
  </a>
{% endblock %}
