{% extends "base-component" %}

{% set name = "hero-landing-page" %}
{% set container_element = 'section' %}
{% set container_aria_label = "Landing Hero" %}
{% set variant = [] %}
{% set variant = (alignBottom) ? variant|merge(['align-bottom']): variant %}
{% set variant = (hasOverlay) ? variant|merge(['has-overlay']) : variant %}

{% block content %}

  <div class="image-text-container {{ not image ? 'no-image' : ''}}">
    {% if image is not null %}
      <div class="image-video">
        {% if videoUrl %}
          {% include "fields-ambient-video" with {
            videoSrc: videoSrc
          } only %}
        {% else %}
          {% include "fields-image" with {
            image: image
          } only %}
        {% endif %}
      </div>
    {% endif %}

    <div class="text-container">
      {% include "fields-category" with { category: category } only %}
      {% include "fields-page-title" with {
        title: title,
        field_variant: (hideTitle) ? 'visually-hidden': ''
      } only %}
    </div>
  </div>

{% endblock %}
