<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #00356b;"></span>
    <span class="sg-label">#00356b</span>
  </li>
  <li>
      <span class="sg-swatch" style="background: #286dc0;"></span>
      <span class="sg-label">#286dc0</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #63aaff;"></span>
    <span class="sg-label">#63aaff</span>
  </li>
</ul>

<ul class="sg-colors">
  <li>
      <span class="sg-swatch" style="background: #FFFFFF;"></span>
      <span class="sg-label">#FFFFFF</span>
  </li>
  <li>
      <span class="sg-swatch" style="background: #f9f9f9;"></span>
      <span class="sg-label">#f9f9f9</span>
  </li>
  <li>
      <span class="sg-swatch" style="background: #dddddd;"></span>
      <span class="sg-label">#dddddd</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #4A4A4A;"></span>
    <span class="sg-label">#4A4A4A</span>
  </li>
  <li>
      <span class="sg-swatch" style="background: #222222;"></span>
      <span class="sg-label">#222222</span>
  </li>
</ul>
