.cc--program-listing {
  @include margin(null null rem(60));

  .c--program-listing {
    > .f--link {
      @include margin(rem(30) null null);
      display: flex;
      justify-content: center;

      @include mq($bp768) {
        @include margin(rem(40) null null);
      }

      @include mq($bp1024) {
        @include margin(rem(60) null null);
      }

      a {
        @include button($secondary: true);
      }
    }
  }

  .cc--accordions {
    margin: 0;

    .f--cta-title {
      h3 {
        @include margin(null null rem(56));

        @include mq($bp768max) {
          @include font-size(30, 36);
          text-align: center;
        }
      }
    }

    .c--accordions {
      > ul {
        > li {
          button {
            @include padding(rem(20) null);

            @include mq($bp768) {
              @include padding(rem(30) null rem(32));
            }

            .item-title {
              @include font-size(30, 36);

              @include mq($bp768) {
                @include font-size(36, 36);
              }
            }
          }
        }
      }
    }
  }
}
