
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- configuration that must occur prior to vendor libraries -->
  <script src="../../js/configBackgroundImageUnveil.js"></script>

  <!-- vendor libraries -->
  <script src="../../js/vendor/jquery.min.js"></script>
  <script src="../../js/vendor/jquery.once.min.js"></script>
  <script src="../../js/vendor/imagesloaded.pkgd.min.js"></script>
  <script src="../../js/vendor/swiper-bundle.min.js"></script>
  <script src="../../js/vendor/what-input.min.js"></script>
  <script src="../../js/vendor/ally.min.js"></script>
  <script src="../../js/vendor/core.js"></script>
  <script src="../../js/vendor/mediaquery.js"></script>
  <script src="../../js/jquery-expander.js"></script>
  <script src="../../js/vendor/lity.min.js"></script>
  <script src="../../js/vendor/jquery.hoverIntent.min.js"></script>
  <script src="../../js/vendor/tinynav.min.js"></script>

  <!-- dp behavior loader -->
  <script src="../../js/DP.js"></script>

  <!-- component behaviors follow dp loader -->
  <script src="../../js/components/video-controls.js"></script>
  <script src="../../js/components/left-navigation-menu.js"></script>
  <script src="../../js/components/accordions.js"></script>
  <script src="../../js/components/vertical-tabbed-carousel.js"></script>
  <script src="../../js/components/hero-home-slider.js"></script>
  <script src="../../js/components/hero-home-ambient.js"></script>
  <script src="../../js/components/image-gallery.js"></script>
  <script src="../../js/components/image-gallery-column.js"></script>
  <script src="../../js/components/back-to-top.js"></script>
  <script src="../../js/components/sticky-cta.js"></script>
  <script src="../../js/components/notification-banner.js"></script>
  <script src="../../js/components/chapter-jump-links.js"></script>
  <script src="../../js/components/rich-text.js"></script>
  <script src="../../js/components/filter-form.js"></script>
  <script src="../../js/components/request-for-information.js"></script>
  <script src="../../js/components/tab-links.js"></script>
  <script src="../../js/components/stats.js"></script>
  <script src="../../js/components/map-with-pins.js"></script>
  <script src="../../js/components/minisite-home-hero-nav.js"></script>
  <script src="../../js/components/program-page-header.js"></script>
  <script src="../../js/components/ribbon-carousel.js"></script>
  <script src="../../js/components/hero-tabbed-navigation.js"></script>
  <script src="../../js/components/interest-matcher.js"></script>

  {# Comment these if using the Alt Metamorphic Header #}
  <script src="../../js/components/header.js"></script>
  <script src="../../js/components/header-search.js"></script>
  <script src="../../js/components/main-menu.js"></script>
  <script src="../../js/components/utility-menu.js"></script>
  <script src="../../js/components/mobile-menu.js"></script>

  {# Uncomment these for Alt Metamorphic Header #}
  {# <script src="../../js/components/header-alt.js"></script>
  <script src="../../js/components/header-alt-search.js"></script>
  <script src="../../js/components/main-menu-alt.js"></script>
  <script src="../../js/components/utility-menu-alt.js"></script>
  <script src="../../js/components/mobile-menu-alt.js"></script> #}

  <script async src="https://static.addtoany.com/menu/page.js"></script>

  </body>
</html>
