@mixin play-video-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  svg {
    display: block;
    width: rem(25);
    height: rem(25);

    rect {
      fill: $color-primary;
    }
  }
}
