<button type="button" class="icon-close">
  <svg width="42px" height="42px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-139.000000, -2535.000000)">
            <g transform="translate(0.000000, 2030.000000)">
                <g transform="translate(140.000000, 506.000000)">
                    <rect stroke="#FFFFFF" x="0" y="0" width="40" height="40" rx="3"></rect>
                    <g  transform="translate(5.000000, 5.000000)" fill="#FFFFFF">
                        <path d="M21.8331075,7.79044769 L23.0452905,9.00263074 L16.6294477,15.4174477 L23.0452905,21.8331075 L21.8331075,23.0452905 L15.4174477,16.6294477 L9.00263074,23.0452905 L7.79044769,21.8331075 L14.2054477,15.4174477 L7.79044769,9.00263074 L9.00263074,7.79044769 L15.4174477,14.2054477 L21.8331075,7.79044769 Z"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>

</button>
