{% extends "base-component" %}

{% set name = "inline-search-form" %}

{% set container_element = 'div' %}

{% if link.url is not empty %}
  {% set variant = 'haslink' %}
{% else %}
  {% set variant = 'nolink' %}
{% endif %}

{% block content %}
  {% embed "base-form" with { name: "search-form", action: formAction } %}

    {% block content %}
      <div class="search-form-top">
        <div class="search-form-inner">
          {% include "base-input-text" with { inputName: parameterName | default('search'), id: "site-search", placeholder: "Search", maxlength: 50, value: inputValue } %}
          {% include "base-search-icon" with { ariaLabel: "Search" } only %}
        </div>
        <div class="search-form-actions">
          {% include "base-input-submit" with { value: "Search" } %}
        </div>
        {% if link.url is not empty %}
        {% include "fields-link" with {
          cta: link.title,
          href: link.url,
          aria: link.aria,
          svgAfter: "<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0px\" y=\"0px\" viewBox=\"0 0 31.7 54\" enable-background=\"new 0 0 31.7 54\" xml:space=\"preserve\"><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M21,27L0.7,47.8c0,0-1.9,2.3,0.5,4.9C3.6,55.2,6,53.3,6,53.3L31.7,27l0,0l0,0L6,0.7c0,0-2.3-2-4.8,0.5c-2.4,2.5-0.5,4.9-0.5,4.9L21,27z\"/></svg>"
        } only %}
        {% endif %}
      </div>

      {% if radios is not empty %}
      <div class="search-form-radios">
        <div class="form-title">{{ 'Show:' }}</div>
        {% for item in radios %}
          <div class="search-form-radio">
            {% include "base-input-radio" with { namevalue: item.group, idvalue: item.id, text: item.text, value: item.value, not_checked: not item.checked } only %}
          </div>
        {% endfor %}
      </div>
      {% endif %}

    {% endblock %}

  {% endembed %}
{% endblock %}
