{% extends "base-component" %}

{% set name = "admin-tabs" %}

{% block content %}

    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'menu_local_tasks' -->
    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/navigation/menu-local-tasks.html.twig' -->
    <h2 class="visually-hidden">Primary tabs</h2>
    <ul>

      <!-- THEME DEBUG -->
      <!-- THEME HOOK: 'menu_local_task' -->
      <!-- BEGIN OUTPUT from 'core/themes/stable/templates/navigation/menu-local-task.html.twig' -->
      <li><a href="/node/1" data-drupal-link-system-path="node/1" class="is-active">View<span class="visually-hidden">(active tab)</span></a></li>

      <!-- END OUTPUT from 'core/themes/stable/templates/navigation/menu-local-task.html.twig' -->



      <!-- THEME DEBUG -->
      <!-- THEME HOOK: 'menu_local_task' -->
      <!-- BEGIN OUTPUT from 'core/themes/stable/templates/navigation/menu-local-task.html.twig' -->
      <li><a href="/node/1/edit" data-drupal-link-system-path="node/1/edit">Edit</a></li>

      <!-- END OUTPUT from 'core/themes/stable/templates/navigation/menu-local-task.html.twig' -->



      <!-- THEME DEBUG -->
      <!-- THEME HOOK: 'menu_local_task' -->
      <!-- BEGIN OUTPUT from 'core/themes/stable/templates/navigation/menu-local-task.html.twig' -->
      <li><a href="/node/1/delete" data-drupal-link-system-path="node/1/delete">Delete</a></li>

      <!-- END OUTPUT from 'core/themes/stable/templates/navigation/menu-local-task.html.twig' -->



      <!-- THEME DEBUG -->
      <!-- THEME HOOK: 'menu_local_task' -->
      <!-- BEGIN OUTPUT from 'core/themes/stable/templates/navigation/menu-local-task.html.twig' -->
      <li><a href="/node/1/revisions" data-drupal-link-system-path="node/1/revisions">Revisions</a></li>

      <!-- END OUTPUT from 'core/themes/stable/templates/navigation/menu-local-task.html.twig' -->



      <!-- THEME DEBUG -->
      <!-- THEME HOOK: 'menu_local_task' -->
      <!-- BEGIN OUTPUT from 'core/themes/stable/templates/navigation/menu-local-task.html.twig' -->
      <li><a href="/devel/node/1" data-drupal-link-system-path="devel/node/1">Devel</a></li>

      <!-- END OUTPUT from 'core/themes/stable/templates/navigation/menu-local-task.html.twig' -->

    </ul>

    <!-- END OUTPUT from 'core/themes/stable/templates/navigation/menu-local-tasks.html.twig' -->

{% endblock %}
