{% extends 'paragraph.html.twig' %}

{% block content %}

  {% set title = fields.title %}

  {% if fields.title_highlight %}
    {% set title = title|replace({(fields.title_highlight): '<span class="highlight">' ~ fields.title_highlight ~ '</span>'}) %}
  {% endif %}

  {% set cards = [] %}

  {% for item in fields.cards %}

    {% set cards = cards | merge([{
      title: item.fields.title,
      description: item.fields.description,
      link: item.fields.link is not empty ? {
        cta: item.fields.link.title,
        href: item.fields.link.url,
        ariaLabel: item.fields.link.attributes.aria_label ?? item.fields.link.title,
      } : null,
      image: item.fields.image is not empty ? {
        render: drupal_image(item.fields.image.uri, '16_9_one_third', { alt: item.fields.image.alt }, responsive=true),
        src: item.fields.image.uri | image_style('16_9_675x380'),
        alt: item.fields.image.alt,
        link: item.fields.link.url,
      } : [],
    }]) %}

  {% endfor %}

  {% include "components-manual-cards" with {
    title: title,
    image: fields.image is not empty ? {
        render: drupal_image(fields.image.uri, '3_4_full', { alt: fields.image.alt }, responsive=true),
        src: fields.image.uri | image_style('3_4_445x593'),
        alt: fields.image.alt,
        link: fields.link.url,
    } : null,
    cards: cards,
  } only %}

{% endblock content %}
