{% extends 'paragraph.html.twig' %}

{% block content %}

  {{ attach_library('usfca/ribbon_carousel') }}

  {% set title = fields.title %}

  {% if fields.title_highlight %}
    {% set title = title|replace({(fields.title_highlight): '<span class="highlight">' ~ fields.title_highlight ~ '</span>'}) %}
  {% endif %}

  {% set slides = [] %}

  {% set colors = fields.color_theme == 'alpha' ? [
    'orange', 'red', 'turquoise', 'yellow',
    'red', 'turquoise', 'yellow', 'red', 'turquoise', 'orange',
  ] : [
    'blue', 'turquoise', 'lime', 'moss',
    'turquoise', 'lime', 'moss', 'turquoise', 'lime', 'blue',
  ] %}

  {% for item in fields.slides %}
    {% set slides = slides | merge([{
      title: item.fields.title,
      description: item.fields.description,
      subtitle: item.fields.subtitle,
      image: item.fields.image is not empty ? {
          render: drupal_image(item.fields.image.uri, '1_1_mosaic_large', { alt: item.fields.image.alt }, responsive=true),
          src: item.fields.image.uri | image_style('1_1_1536x1536'),
          alt: item.fields.image.alt,
        } : [],
      link: {
        url: item.fields.link.url,
        href: item.fields.link.url,
      },
      color: cycle(colors, loop.index0),
    }]) %}
  {% endfor %}

  {% include "components-ribbon-carousel" with {
    title: title,
    description: fields.description,
    slides: slides,
  } only %}

{% endblock content %}
