<button type="button" class="mobile-menu-trigger">
  <svg height="25" viewBox="0 0 35 25" width="35" aria-label="Hamburger Icon" class="icon-hamburger" xmlns="http://www.w3.org/2000/svg"><g fill="#fff" fill-rule="evenodd"><rect height="3" rx="1.5" width="35"/><rect height="3" rx="1.5" width="35" y="11"/><rect height="3" rx="1.5" width="35" y="22"/></g></svg>
  <svg height="27" viewBox="0 0 27 27" width="27" aria-label="Close Icon" class="icon-close" xmlns="http://www.w3.org/2000/svg"><path d="m1174.87437 25.1256313c.58579.5857865.58579 1.5355339 0 2.1213204l-10.25308 10.2523398 10.25308 10.2537568c.58579.5857865.58579 1.5355339 0 2.1213204-.58579.5857864-1.53554.5857864-2.12132 0l-10.25376-10.2530772-10.25234 10.2530772c-.58578.5857864-1.53553.5857864-2.12132 0-.58579-.5857865-.58579-1.5355339 0-2.1213204l10.25266-10.2537568-10.25266-10.2523398c-.58579-.5857865-.58579-1.5355339 0-2.1213204.58579-.5857864 1.53554-.5857864 2.12132 0l10.25234 10.2526602 10.25376-10.2526602c.58578-.5857864 1.53553-.5857864 2.12132 0z" fill="#00543c" fill-rule="evenodd" transform="translate(-1149 -24)"/></svg>
</button>

